img{
    opacity: .1; 
}

.content{
    overflow: auto;
}

.content__div{
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 10%;
    left: 0px;
    height: 70%;
}

table{
    color: white;
}